
  body{
    height: 100%;
    width: 100%;
    background-image: url('./assets/background.jpg'); 
    background-size: cover;
 }

  h1{
    font-size: 80px;
    color: rgb(11, 119, 190);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
 }

  input ,mark {
    width: 20%;
    padding: 2px 20px;
    margin: 2px 10px;
    border: 2px dashed #7442f1;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
  }

  main{
   
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .button {
    margin: 1rem;
    padding: 0;
    border: none;
    color: #fff;
    background-color: transparent;
    font-family: 'Press Start 2P', cursive;
    color: #ece4b3;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 78px;
    height: 75px;
    border-radius: 50%;
    background-size: contain;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
    background: linear-gradient(135deg, #1e2a3a, #263748);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    line-height: 1.4;
    text-align: center;

  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #130f40;
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
    background-size: contain;
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  
  .button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url('./assets/star.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -2 ;
}
  
  .button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: #f39c12;
    text-shadow: 0 0 10px #fff, 0 0 20px #f39c12, 0 0 30px #f39c12, 0 0 40px #f39c12;
  }

  .button:hover::before {
    opacity: 0.5;
    transition: opacity 0.3s, transform 0.3s;
  }

.container {   
    text-align: center;
    margin-top: 60px;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    border-radius: 8px;
  }

.icons{
    display: flex;

  }
  .icons div {
    position: absolute;
    width: 50px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .icon1{
    background-image: url('./assets/icon1.png' );
    left: 13px;
    top: 345px;
  }
  .icon2{
    background-image: url('./assets/icon2.png' );
    right: 0px;
    top: 116px;
  }
  .icon3{
    background-image: url('./assets/icon3.png' );
    top: 50px;
    left: 60px;
  }
  .icon4{
    background-image: url('./assets/icon4.png' );
    right: 20px;
    top: 350px;
  }
  .icon5{
    background-image: url('./assets/icon5.png' );
    right: 13px;
    top: 302px;
  }
  .icon6{
    background-image: url('./assets/icon6.png' );
    right: 9px;
    top: 455px;
  }
  .icon7{
    background-image: url('./assets/icon7.png' );
  }
  .icon8{
    background-image: url('./assets/icon8.png' );
  }

.madLibsPreview {
  margin: 0 50px;
  background-color: rgba(255, 0, 0, 0.05);
  width: 100%;
  color: #fff;
  font-size: 22px; /* Adjust as needed */
  font-family: 'Chewy', cursive, sans-serif;
}

.madLibsEdit {
  margin: 0 50px;
  background-color: rgba(0, 128, 0, 0.05);
  width: 100%;
  color: #fff;
  font-size: 22px; /* Adjust as needed */
  font-family: 'Chewy', cursive, sans-serif;
}



 .button_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 #themeIcon{
  color: rgb(3, 21, 78);
  position: absolute;
  font-size: 2rem;
  right: 60px;
 }

 .madlibs_dark{
  color: black;
   background-color: #f8f8f8;
   animation: glow_border 1s ease-in-out infinite alternate;
}

.h1_dark{
  color: rgb(9, 156, 167);
}

.body_dark{
filter: invert(1);
background-image: url('./assets/background-dark.jpg');
}


/* Medium screens (tablets and smaller laptops) */
@media (min-width: 768px) and (max-width: 1199px) {
  main{
    padding: 0 70px;
    flex-direction: column;
 }
 .madLibsEdit ,.madLibsPreview{
    margin: 50px 20px;
 }
}

@media (max-width: 767px) {
  main{
    padding: 0 70px;
    flex-direction: column;
 }
 h1{
  font-size: 40px;
 }
 .madLibsEdit ,.madLibsPreview{
    margin: 50px 20px;
    font-size: 15px;
 }
}


@keyframes glow {
  0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #bb2136, 0 0 40px #bb2136, 0 0 50px #bb2136, 0 0 60px #bb2136, 0 0 70px #bb2136;
  }
  100% {
      text-shadow: 0 0 20px #fff, 0 0 30px #14a423, 0 0 40px #14a423, 0 0 50px #14a423, 0 0 60px #14a423, 0 0 70px #14a423, 0 0 80px #14a423;
  }
}
@keyframes glow_border {
  0% {
      box-shadow: 0 0 0px 10px #bb2136;
      }
  100% {
      box-shadow: 0 0 0px 10px #14a423;
      }
}
